<!--begin::Breadcrumb-->
<ul class="breadcrumb breadcrumb-separatorless fw-semibold">
	<!--begin::Item-->
	<li class="breadcrumb-item text-white fw-bold lh-1">
		<a class="text-white" asp-controller="Dashboards" asp-action="Index">
			<i class="fonticon-home text-white fs-3"></i>
		</a>
	</li>
	<!--end::Item-->
	<!--begin::Item-->
	<li class="breadcrumb-item">@Html.Raw(KTTheme.GetSvgIcon("duotune/arrows/arr071.svg", "svg-icon svg-icon-4 svg-icon-white mx-n1"))</li>
	<!--end::Item-->
	<!--begin::Item-->
	<li class="breadcrumb-item text-white fw-bold lh-1">@ViewData["Title"]</li>
	<!--end::Item-->
</ul>
<!--end::Breadcrumb-->