<!--begin::Page title-->
<div class="page-title d-flex align-items-center me-3">
    <img alt="Logo" src="assets/media/svg/misc/layer.svg" class="h-60px me-5"/>
    <!--begin::Title-->
    <h1 class="page-heading d-flex text-white fw-bolder fs-2 flex-column justify-content-center my-0">
        Bily's Cloud
        <!--begin::Description-->
        <span class="page-desc text-white opacity-50 fs-6 fw-bold pt-4">Elite Cloud</span>
        <!--end::Description-->
    </h1>
    <!--end::Title-->
</div>
<!--end::Page title-->