<!--begin::Items-->
<div class="d-flex gap-4 gap-lg-13">
    <!--begin::Item-->
    <div class="d-flex flex-column">
        <!--begin::Number-->
        <span class="text-white fw-bold fs-3 mb-1">0</span>
        <!--end::Number-->
        <!--begin::Section-->
        <div class="text-white opacity-50 fw-bold">Files</div>
        <!--end::Section-->
    </div>
    <!--end::Item-->
</div>
<!--end::Items-->