@{
    ViewData["Title"] = "Cloud";
    KTTheme.AddJavascriptFile("js/custom/cloud.js");
}

<!--begin::Row-->
<div class="row gx-5 gx-xl-10">
    <!--begin::Wrapper-->
    <div class="d-flex flex-stack mb-5">
        <!--begin::Search-->
        <div class="d-flex align-items-center position-relative my-1">
            @Html.Raw(KTTheme.GetSvgIcon("duotune/general/gen021.svg", "svg-icon svg-icon-1 position-absolute ms-6"))
            <input type="text" data-kt-docs-table-filter="search" class="form-control form-control-solid w-250px ps-15" placeholder="Search Documents"/>
        </div>
        <!--end::Search-->
        <!--begin::Toolbar-->
        <div class="d-flex justify-content-end" data-kt-docs-table-toolbar="base">
            <!--begin::Add Document-->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_file">
                @Html.Raw(KTTheme.GetSvgIcon("duotune/arrows/arr075.svg", "svg-icon svg-icon-2"))
                Add Document
            </button>
            <!--end::Add Document-->
        </div>
        <!--end::Toolbar-->
    </div>
    <!--end::Wrapper-->
    <!--begin::Datatable-->
    <table id="kt_datatable_files" class="table align-middle table-row-dashed fs-6 gy-5">
        <thead>
        <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
            <th class="w-10px pe-2"></th>
            <th>Document Name</th>
            <th>Description</th>
            <th>Format</th>
            <th>Size</th>
            <th>Created Date</th>
            <th>Updated Date</th>
            <th class="text-end min-w-100px">Actions</th>
        </tr>
        </thead>
        <tbody class="text-gray-600 fw-semibold">
        </tbody>
    </table>
    <!--end::Datatable-->
    <!--begin::Modal-->
    <div class="modal fade" tabindex="-1" id="kt_modal_file">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <partial name="~/Views/Partials/Modals/_Upload.cshtml"/>
            </div>
        </div>
    </div>
    <!--end::Modal-->
</div>
<!--end::Row-->